<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planeador</title>
</head>
<body>
<h1> Detalle Planeador</h1>
<div>Id Planeador: {{planeador.id}}</div>
<div>Nombre Planeador: {{planeador.nombre_planeador}}</div>
<div>Apellido Planeador: {{planeador.apellido_planeador}}</div>
<div>Especialidad Planeador: {{planeador.especialidad.nombre_especialidad}}</div>
<div>Cantidad de planeaciones: {{no_planxplan}}</div>
<table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Cluster</th>
            <th>Unidad</th>
            <th>Familia</th>
            <th>Tag</th>
            <th>OM</th>
            <th>Descripción</th>
            <th>Fecha creación</th>
            <th>Estado planeación</th>
        </tr>
        </thead>
        <tbody>
        {% for planeacion in planeaciones %}
        <tr>
            <td>{{planeacion.id}}</td>
            <td>{{planeacion.cluster.sigla_cluster}}</td>
            <td>{{planeacion.unidad.numero_unidad}}</td>
            <td>{{planeacion.familia.nombre_familia}}</td>
            <td>{{planeacion.tag_equipo}}</td>
            <td>{{planeacion.om}}</td>
            <td>{{planeacion.descripcion}}</td>
            <td>{{planeacion.fecha}}</td>
            <td>{{planeacion.estado}}</td>
            <td><a href="editar_planeacion/{{planeacion.id}}">Editar</a></td>
            <td><a href="eliminar_planeacion/{{planeacion.id}}">Eliminar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

<a href="{% url 'index' %}">Regresar a pagina principal</a>
</body>
</html>